body {
    background-color: #f2f2f2;
    font-family: "Courier New", Courier, monospace;
}

a {
    text-decoration: none;
    color: black;
    border-bottom: 1px black dotted;
}

a:hover {
    color: blue;
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

#container > * {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

#triangle1b {
    border-width: 173.2px 100px 0 100px;
    border-color: black transparent transparent transparent;

    z-index: 1;
    -webkit-filter: drop-shadow(3px 3px 2px #999999);
}

#triangle1w {
    border-width: 168.0px 97px 0 97px;
    border-color: white transparent transparent transparent;

    z-index: 2;
    margin-top: 2px;
    margin-left: 3px;
}

#triangle2b {
    border-width: 103.9px 60px 0 60px;
    border-color: black transparent transparent transparent;

    z-index: 3;
    margin-top: 23px;
    margin-left: 40px;
}

#triangle2w {
    border-width: 98.7px 57px 0 57px;
    border-color: white transparent transparent transparent;

    z-index: 4;
    margin-top: 25px;
    margin-left: 43px;
}

#triangle3b {
    border-width: 34.6px 20px 0 20px;
    border-color: black transparent transparent transparent;

    z-index: 5;
    margin-top: 47px;
    margin-left: 80px;
}

#triangle3w {
    border-width: 29.4px 17px 0 17px;
    border-color: #f2f2f2 transparent transparent transparent;

    z-index: 6;
    margin-top: 49px;
    margin-left: 83px;
}

#triangle3w:hover {
    -webkit-filter: drop-shadow(0 0 5px #999999);
    border-color: yellow transparent transparent transparent;
}

#line2long {
    border-style: none;
    border-top: 2px solid black;
    width: 40px;

    z-index: 4;
    margin-top: 23px;
    margin-left: 145px;
}

#line3short {
    border-style: none;
    border-top: 2px solid black;
    width: 30px;

    z-index: 6;
    margin-top: 47px;
    margin-left: 114px;
}

#name {
    border-style: none;
    font-weight: bold;

    width: 200px;
    line-height: 25%;
    margin-top: -170px;
}

#bio {
    border-style: none;

    width: 200px;
    line-height: 25%;
    margin-top: -110px;
}
