$color-1: #369292;
$color-2: #F4A05A;
$color-3: #F45A5A;

$z1: 10;
$z2: 20;
$z3: 30;
$z4: 5;


body {
   background-color: #f2f2f2;
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
   margin: 0 auto;
   font-family: "Courier New", Courier, monospace;
}

a {
   text-decoration: none;
   color: black;
   border-bottom: 1px black dotted;
}

a:hover { color: blue; }

#triangle {
   display: block;
   position: relative;
   margin: 0 auto;
   margin-top: 100px;
   height: 20em;
   width: 26.6em;
}

#name {
   text-align: right;
   font-weight: bold;
   font-size: 1.2rem;
   width: 15em;
   margin: 0 auto;
   margin-top: 100px;
}

#bio {
   font-size: 1.2rem;
   width: 15em;
   margin: 0 auto;
}

.side-1, .side-2, .side-3--half, .side-3--1, .side-3--2 {
   width: 25rem;
   height: 5rem;
   position: absolute;
}

#triangle span {
   display: block;
   width: 25rem;
   height: 2.5rem;
}

.side-1 {
   clip-path: polygon(5% 0%, 100% 1%, 100% 100%, 7% 100%, 0% 50%);
   transform: rotate(122deg);
   width: 22rem;
   z-index: $z1;
   top: 6.9rem;
   left: 8.1rem;

   span { background-color: $color-3; }
   span:nth-child(2) { background-color: $color-1; }
}

.side-2 {
   clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 92% 100%, 0% 100%);
   top: 8.5rem;
   left: -2rem;
   transform: rotate(55deg);
   width: 22rem;
   z-index: $z2;

   span { background-color: $color-3; }
   span:nth-child(2) { background-color: $color-2; }
}

.side-3--half {
   width: 13rem;
   clip-path: polygon(14% 0%, 98% 0%, 100% 50%, 98% 100%, 15% 100%);
   transform: rotate(180deg);

   span { background-color: $color-2; }
   span:nth-child(2) { background-color: $color-1; }
}

.side-3--1 {
   z-index: $z3;
   top:  0rem;
   left: 0rem;
   width: 12rem;
   clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.side-3--2 {
   z-index: $z4;
   top: 0rem;
   left: 11rem;
}
